@import "./variables.scss";

// pitanja-page

.main__pitanja-page {
  padding: 40px 0px 80px 0px;
  width: 100vw;
  justify-content: center;
  display: flex;

  .pitanja-page {
    width: 70%;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: $large-title-size;
      position: relative;

      &::after {
        background-color: $pink;
        content: " ";
        height: 10px;
        position: absolute;
        left: -95px;
        top: 76%;
        z-index: -1;
        width: 180px;
        transform: translate(50%, -50%);
        border-radius: 5px;
      }
    }

    &__pitanje-odgovor {
      &__pitanje {
        color: $text-grey;
        font-size: $large-p-size;
      }

      &__odgovor {
        color: black;
        font-size: $medium-p-size;
      }
    }
  }
}

@media only screen and (max-width: 680px) {
  .main__pitanja-page {
    padding: 40px 0px 80px 0px;
    width: 100vw;
    justify-content: center;
    display: flex;

    .pitanja-page {
      width: 70%;
      display: flex;
      flex-direction: column;

      h1 {
        font-size: $large-title-size;
        position: relative;

        &::after {
          width: 180px;
        }
      }

      &__pitanje-odgovor {
        &__pitanje {
          color: $text-grey;
          font-size: $medium-p-size;
        }

        &__odgovor {
          color: black;
          font-size: 14px;
        }
      }
    }
  }
}
