$color-yellow: #f4c40b;
$text-grey: #4e4c4b;
$light-background: #efeeec;
$dark-background: #2a2a2a;
$footer-text: #a8a8a8;
$pink: #ffc2b0;

$letter-spacing: 3px;
$large-title-size: 60px;
$large-p-size: 30px;

$medium-title-size: 36px;
$medium-p-size: 24px;

$Lora: "Lora", serif;
$Seaweed: "Slabo 27px", serif;
$Sans: "Open Sans", sans-serif;
